<div class="container">
  <h1 id="main-title">Please Log In!</h1>
  <blockquote>
    We're only using social connection throught Facebook and Google. You won't have to worry about any password here! Just click on a service you're familiar with and you'll be done.
  </blockquote>
  <div class="list-group">
    <a href="/auth/facebook" class="list-group-item">
      <span class="fa-stack fa-lg">
        <i class="fa-fw fa fa-square fa-stack-2x text-primary" aria-hidden="true"></i>
        <i class="fa-fw fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
      </span>
      <span class="text-uppercase"><strong>Log In with Facebook</strong></span>
    </a>
    <a href="/auth/google" class="list-group-item">
      <span class="fa-stack fa-lg">
        <i class="fa-fw fa fa-circle fa-stack-2x text-danger" aria-hidden="true"></i>
        <i class="fa-fw fa fa-google fa-stack-1x fa-inverse" aria-hidden="true"></i>
      </span>
      <span class="text-uppercase"><strong>Log In with Google</strong></span>
    </a>
</div>
